<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: site-head">
</head>
<body>
<h1>this is HOME</h1>
<header th:replace="layout :: site-header"></header>
<main><div id="posts">
<form class="addEditPostForm" action="#" th:action="@{/admin/addPost}" th:object="${post}" method="post">

<input class="addEditPostFormInputs"  autocomplete="off"  th:field="*{title}" required placeholder="Title of your blog post goes here"><br>
<textarea class="addEditPostFormInputs" required  autocomplete="off"  th:field="*{content}" ></textarea>
<input type="submit" value="Add Post">
</form>

</div></main>		
</body>
</html>