<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: site-head">
</head>
<body>
<h1>this is HOME</h1>
<header th:replace="layout :: site-header"></header>
<form th:action="@{/admin/editpost}" th:object="${post}" method="post">
	
		<input type="hidden" th:field="*{id}">
	
		
			
				<label for="inputTitle">Title</label> 
				<input type="text" class="form-control" th:field="*{title}" placeholder="Title">
			
			<br><br>
				<label for="inputPlot">Contents</label>
				<textarea class="form-control" th:field="*{content}" placeholder="Plot" required></textarea>
			
		
		
			<button type="submit" >Done</button>
</form>

		
</body>
</html>