<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: site-head">
</head>
<body>
<h1>this is HOME</h1>
<header th:replace="layout :: site-header"></header>

<p>this is for admins only</p>
<a href="/admin/addPost">add post</a>
<h1>allpostsss</h1>
<tr th:each="p : ${posts}">
<hr>
			<div>

				<a th:href="@{/posts/{postID} (postID=${p.id})}">
				<h2><td th:text="${p.title}"></td></h2>
				</a>
				<td th:text="${p.datePosted}"></td>
				<p>
					<td th:text="${p.content}"></td>
				</p>
				

			</div>
			<a th:href="@{/posts/{postID} (postID=${p.id})}"><i class="far fa-comments"></i><td th:text="${commentCount}"></td> comments</a>

			<div sec:authorize="hasAuthority('ADMIN')">
			<a th:href="@{/admin/removePost/{postID} (postID=${p.id})}"><i class="fas fa-times-circle"></i>delete</a>
			<a th:href="@{/admin/editPost/{postID} (postID=${p.id})}"><i class="fas fa-pencil-alt"></i></i>edit</a>
			
			</div>
		</tr>
		
		
</body>
</html>