<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="site-head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
<body>
	<header th:fragment="site-header">
	<h1>Blog for Interview Task</h1>
	<div id="navTab">
        		<a href="/">POSTS</a>
      			<a href="/about">ABOUT ME</a>
      			<div sec:authorize="isAnonymous()">
       			<a style="float: right; font-weight: bolder;"href="/login" >login</a>
       			</div>
       			<div sec:authorize="isAuthenticated()">
       			<a style="float: right; font-weight: bolder;"href="/logout" >logout</a>
       			</div>
       			
			</div>
		
	</header>


	<footer th:fragment="site-footer"> &copy;CBS </footer>
</body>
</html>